body {
    background-color: red;
}

#social {
	background-color: green;
    width: 210px;
    clear: left;
    position: absolute;
    left: 0%;
    top: 0%;
}
#navbar{
	display: block;
	background-color: #C5E0DC;
	margin-right: 30px;
    width: 210px;
    line-height: 20px;
}