body {
    background-color: red;
}

#social {
   
    background-color: green;

    
    width: 210px;
    clear: left;
    position: absolute;
    left: 0%;
    top: 0%; 
    display: inline-block;
    border: 5px solid black;



}
#navbar{
 
    display: block;
    background-color: white;
    margin-right: 30px;
    width: 210px;
    line-height: 20px; 
}

#articles{
    position: absolute;
    left: 22%;
    top: 0%;
}
h3 {
    text-align: center;
}
