body {
	background-color: #E08E79;
}

#social {
	background-color: #774F38;
    width: 210px;
    clear: left;
    position: absolute;
    left: 0%;
    top: 0%;
}
#navbar{
	display: block;
	background-color: #C5E0DC;
	margin-right: 30px;
    width: 210px;
    line-height: 20px;
}

h3{
    position: fixed;
    left: 50%;
}

p{
    position: fixed;
    left: 22%;
}

ol {
    position: fixed;
    left: 22%;
}