#navbuttons li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: red;
    margin-right: 30px;
    width: 150px;
    line-height: 60px;
    color: black;
}
a: link {
	color: inherit;
}