.super-container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #FC3903;
}

.container{
    display: flex;
    flex: 1;

}

.social {
   
	background-color: #2E0D23;
    border-radius: 0px 20px 20px 0px;
    justify-content: space-around;

}

.social__name{
    color: white;
}


.navbar{
 
	background-color: #D1024E;
     flex: 0 0 12em;
}

.navbar__topic{
    color: white;
}

a:link{
    color: #FFFFFF;
    text-decoration: none;
}
a:visited{
    color: #196A9E;
    text-decoration: none;
}
a:hover{
    color: #F7BF2E;
    text-decoration: none;
}

.articles{
    display: flex;

    flex-direction: column;

}

.articles__header{
    display: flex;
    align-items: center;
    justify-content: center;
}



.socbutton img{
    border-radius: 55%;
    widows: 35px;
    height: 35px;

}

